mixin icon(name, mod)
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="/assets/img/sprite.svg#" + name)

mixin image(path, ext, className, alt)
	picture(class=`${className}`)
		source(type='image/webp', srcset=`/assets/img/${path}.webp`)
		source(type=`image/${ext}`, srcset=`/assets/img/${path}.${ext}`)
		img(src=`/assets/img/${path}.${ext}` alt=`${alt}`)

mixin svg(name, clas, alt)
	img(src=`/assets/img/icons/${name}.svg` class=clas alt=`${alt}`)

mixin cta(text, href, mod)
	a.cta(href=href class=`cta--${mod}`)=text
	
mixin ctaLight(text, href)
	a.ctaLight(href=href)=text