-
	var casesArr = [
		{
			image: "case_01",
			date: "21 августа 2020",
			hash: "#технопарк",
			title: "Технопарк «Инженеры будущего» Можно в две строки",
			desc: "Механообработка любых материалов и любой сложности деталей. Изготовление опытных образцов Механообработка любых материалов и любой",
			mobilesClass: "",
			href: "/projects/project-01.html"
		},
		{
			image: "case_01",
			date: "21 августа 2020",
			hash: "#технопарк",
			title: "Технопарк «Инженеры будущего» Можно в две строки",
			desc: "Механообработка любых материалов и любой сложности деталей. Изготовление опытных образцов Механообработка любых материалов и любой",
			mobilesClass: "",
			href: "/projects/project-01.html"
		},
		{
			image: "case_01",
			date: "21 августа 2020",
			hash: "#технопарк",
			title: "Технопарк «Инженеры будущего» Можно в две строки",
			desc: "Механообработка любых материалов и любой сложности деталей. Изготовление опытных образцов Механообработка любых материалов и любой",
			mobilesClass: "",
			href: "/projects/project-01.html"
		},
		{
			image: "case_01",
			date: "21 августа 2020",
			hash: "#технопарк",
			title: "Технопарк «Инженеры будущего» Можно в две строки",
			desc: "Механообработка любых материалов и любой сложности деталей. Изготовление опытных образцов Механообработка любых материалов и любой",
			mobilesClass: "cases__mobiles-hide",
			href: "/projects/project-01.html"
		},
		{
			image: "case_01",
			date: "21 августа 2020",
			hash: "#технопарк",
			title: "Технопарк «Инженеры будущего» Можно в две строки",
			desc: "Механообработка любых материалов и любой сложности деталей. Изготовление опытных образцов Механообработка любых материалов и любой",
			mobilesClass: "cases__mobiles-hide",
			href: "/projects/project-01.html"
		},
	]

section#cases.cases
	.cases__container.container
		h2.cases__title.title Успешно реализованные кейсы
		.cases__container
			.cases__slider.js__casesSlider
				.cases__slider-list.js__casesSlider-list
					.cases__slider-track.js__casesSlider-track
						each casee in casesArr
							.cases__slider-slide.js__casesSlide
								a.cases__item(class=casee.mobilesClass href=casee.href)
									.cases__image
										+image(`content/${casee.image}`, "jpg", "cases__image-pic", "")
									.cases__item-info
										.cases__item-date=casee.date
										.cases__item-hashtag=casee.hash
									.cases__text-content
										h3.cases__item-title.subtitle=casee.title
										.cases__item-desc=casee.desc
				.cases__slider-pagination.js__casesSlider-pagination
				.cases__slider-arrows.js__casesSlider-arrows
					button.cases__slider-controls-item.prev(type='button').disabled
						+icon("arrow-slider-right", "cases__slider-controls-img")
					.cases__slider-index.js__slider-index
					button.cases__slider-controls-item.next(type='button') 
						+icon("arrow-slider-right", "cases__slider-controls-img")
			.cases__projects-btn.cases__projects-btn--ctaLight
				+ctaLight("Все проекты", "/projects.html")

		