-
	var casesArr = [
		{
			image: "case_01.jpg",
			date: "21 августа 2020",
			hash: "#технопарк",
			title: "Технопарк «Инженеры будущего» Можно в две строки",
			desc: "Механообработка любых материалов и любой сложности деталей. Изготовление опытных образцов Механообработка любых материалов и любой"
		},
		{
			image: "case_01.jpg",
			date: "21 августа 2020",
			hash: "#технопарк",
			title: "Технопарк «Инженеры будущего» Можно в две строки",
			desc: "Механообработка любых материалов и любой сложности деталей. Изготовление опытных образцов Механообработка любых материалов и любой"
		},
		{
			image: "case_01.jpg",
			date: "21 августа 2020",
			hash: "#технопарк",
			title: "Технопарк «Инженеры будущего» Можно в две строки",
			desc: "Механообработка любых материалов и любой сложности деталей. Изготовление опытных образцов Механообработка любых материалов и любой"
		},
		{
			image: "case_01.jpg",
			date: "21 августа 2020",
			hash: "#технопарк",
			title: "Технопарк «Инженеры будущего» Можно в две строки",
			desc: "Механообработка любых материалов и любой сложности деталей. Изготовление опытных образцов Механообработка любых материалов и любой"
		},
		{
			image: "case_01.jpg",
			date: "21 августа 2020",
			hash: "#технопарк",
			title: "Технопарк «Инженеры будущего» Можно в две строки",
			desc: "Механообработка любых материалов и любой сложности деталей. Изготовление опытных образцов Механообработка любых материалов и любой"
		},
	]

section.cases
	.cases__container.container
		h2.cases__title Успешно реализованные кейсы
		.cases__content
			ul.cases__list
				each casee in casesArr
					li.cases__item(style=`background: url(/assets/img/content/${casee.image}) no-repeat`)
						.cases__item-info
							.cases__item-date=casee.date
							.cases__item-hashtag=casee.hash
						.cases__item-title=casee.title
						.cases__item-desc=casee.desc